@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.m-list_mark {
  background: $bg_modal;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;

  &__container {
    width: 400px;
    height: 100%;
    background-color: white;
    padding: 20px;

    &__header {
      display: flex;
      font-size: 2rem;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;

      &__close {
        cursor: pointer;
      }
    }
  }
}
