/* Colors - Static*/
$primary-color: #627884;
$gris: #f5f6f7;
$bg_modal: #0c0c0c8c;
$border: #ebe4e4;

/* Breakpoints */
$s-small: 320px;
$small: 440px;
$s-medium: 570px;
$medium: 768px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;
